# Dependencias de Node.js
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env
# Pero SÍ incluimos los archivos de plantilla:
# .env.development
# .env.production

# Archivos del sistema
.DS_Store
Thumbs.db
